In [1]:
import pandas as pd
from random import randint

In [29]:
df = pd.DataFrame({
    "Block": [23, 25, 26],
    "Room": [1241, 431, 512]
})

for col in df.columns:
    df[col] = df[col].astype(str)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Block   3 non-null      object
 1   Room    3 non-null      object
dtypes: object(2)
memory usage: 176.0+ bytes

In [30]:
df.Room = df.Block.astype(str) + "." + df.Room.astype(str)
df = df.drop(['Block'], axis = 1)

In [31]:
df

      Room
0  23.1241
1   25.431
2   26.512